In [6]:
#manual
L1 = [1,2,5,4,8]
L1.append(9)
print(L1)

[1, 2, 5, 4, 8, 9]

In [4]:
#creatin a list using list function
s= "python"
s

'python'

In [5]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [9]:
l1=[1,2,3,4,5,6,7,8,9,10]
l1.append(11)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
l1=[1,2,3,4,5,6,7,8,9,10]
l1.insert(7,7.5)
l1

[1, 2, 3, 4, 5, 6, 7, 7.5, 8, 9, 10]

In [13]:
l2=["cat",5,7.5,10,"dog"]
l2[2]
l2

['cat', 5, 7.5, 10, 'dog']

In [14]:
l2[2]= 9
l2

['cat', 5, 9, 10, 'dog']

In [20]:
l2[0]= 'billi'
l2

['billi', 5, 9, 10, 'dog']

In [22]:
l2[4]= 'kutta'
l2

['billi', 5, 9, 10, 'kutta']

In [24]:
n = 28
if (n % 2 == 0):
    print("even number")
    
    else:
        print("odd number")

SyntaxError: invalid syntax (246534676.py, line 5)

In [37]:
l1 = [2,34,56,98,22,25,76,77]
sum_value= 0
for i in l1:
    sum_value = sum_value + i
    print(sum_value)

2
36
92
190
212
237
313
390

In [41]:
l1 = [2,34,56,98,22,25,76,77]
for i in l1:
    if (i % 2 == 0):
        print("even number")
    
    else:
        print("odd number")

even number
even number
even number
even number
even number
odd number
even number
odd number

In [33]:
l1

[2, 34, 56, 98, 22, 25, 76, 77]

In [35]:
#create a list with unique values from the above list.
l3 = [1,2,1,4,2,5,6,8,3,1,5]
unique_values = []
for k in l3:
    if (k not in unique_values):
        unique_values.append(k)
        print(unique_values)

[1]
[1, 2]
[1, 2, 4]
[1, 2, 4, 5]
[1, 2, 4, 5, 6]
[1, 2, 4, 5, 6, 8]
[1, 2, 4, 5, 6, 8, 3]

In [39]:
m = machine learning
m.replace("machine", "deep")

SyntaxError: invalid syntax (608783394.py, line 1)

In [54]:
#check each character is digit or not
s = "56789s"
for i in s:
    print(i + "is a digit:" + str (i.isdigit()))

5is a digit:True
6is a digit:True
7is a digit:True
8is a digit:True
9is a digit:True
sis a digit:False

In [53]:
#to print th sum of all numbers
s = "2035578925"
sum_value = 0
for k in s:
    sum_value= sum_value + int(k)
    print(sum_value)

2
2
5
10
15
22
30
39
41
46

In [47]:
sum_value= 1
for k in s:
    sum_value= sum_value* int(k)
    print(sum_value)

2
0
0
0
0
0
0
0
0
0

In [52]:
#check each character's datatype.
s= "A1B2C3D4"
for i in s:
    print(i  + " " + "is a"+ " "  + str(type(i)))

A is a <class 'str'>
1 is a <class 'str'>
B is a <class 'str'>
2 is a <class 'str'>
C is a <class 'str'>
3 is a <class 'str'>
D is a <class 'str'>
4 is a <class 'str'>

In [3]:
list = ['Hello',100,[],'innomatics']
list
list[-2]=[200]
list

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']